button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 2px solid;
	border-color: black;
	background: transparent;
	color: rgba(0, 0, 0, 1);
	@include font-size(1);
	line-height: 1;
	padding: .5em 1em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);

	&:hover,
	&:active,
	&:focus {
		background: white;
		color: black;
	}
}